<table class="player">
    <tr>
        <td class="col-header" colspan="2"><h3 class="username">{{ username|title }}</h3></td>
        <td class="col-header"><img src="{{ pdf_image('AppBundle:lu-award.png') }}" width="5mm"/></td> {# Elf des Tages #}
        <td class="col-header"><img src="{{ pdf_image('AppBundle:lu-note.png') }}" width="5mm"/></td> {# Note #}
        <td class="col-header"><img src="{{ pdf_image('AppBundle:lu-assist.png') }}" width="5mm"/></td> {# Assists #}
        <td class="col-header"><img src="{{ pdf_image('AppBundle:lu-goal.png') }}" width="5mm"/></td> {# Tor #}
        <td class="col-header"><img src="{{ pdf_image('AppBundle:lu-goal-against.png') }}" width="5mm"/></td> {# Gegentor #}
        <td class="col-header"><img src="{{ pdf_image('AppBundle:lu-cards.png') }}" width="5mm"/></td> {# Rot/Gelb-Rot #}
        <td class="col-header"><img src="{{ pdf_image('AppBundle:lu-startlineup.png') }}" width="5mm"/></td> {# Auf dem Platz #}
    </tr>
    {% for player in lineup.players %}
        {% set class = (loop.index <= 4 or loop.index >= 10) ? 'bg-light' : '' %}
        <tr class="{{ class }}">
            <td>{{ loop.index }}</td>
            <td class="player-name">{{ player.name }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    {% if lineup['lineup'] is defined %}
        <tr class="tb-footer">
            <td colspan="9">{{ lineup['lineup'].updated|date("d.m.Y / H:i:s") }}</td>
        </tr>
    {% endif %}
</table>